<p class="display-6 my-4 text-center">Find an open play court near you</p>
<div class="row g-3 p-0 justify-content-center">
  <div class="col-auto">
    <input type="text" class="form-control" id="location" placeholder="Where do you want to play?">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</div>


<h1>All Locations</h1>

{{#each locations as |location| }}
<div class="card col-sm" >
  <div class="card-body">
    <h5 class="card-title">{{location.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{location.address}}</h6>
    <p class="card-text">{{location.description}}</p>
        <p class="card-text">Number of courts available: {{location.num_courts}}</p>

    <a href="/{{location.id}}" class="stretched-link"></a>
  </div>
{{/each}}