<div class="card col-sm mt-5">
  {{#each user as |whatever|}}
  <div class="card-body">
    <h3 class="card-title">{{whatever.first_name}}'s Profile</h3>
    <h6 class="card-subtitle mb-2 text-muted">{{whatever.email}}</h6>
    <p class="card-text">Pickleball Rating: {{whatever.rating}}</p>

    <h4>Your Favorite Courts</h4>

    {{#each userlocations as |userlocation| }}
    <div class="card col shadow-sm my-3">
      <div class="card-body">
        <h5 class="card-title">{{userLocation.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{userLocation.address}}</h6>
        <div class="card-text">
          <p class="mb-0">{{userLocation.description}}</p>
          <p class="mb-0">Number of courts: {{userLocation.num_courts}}</p>
        </div>

        <a href="/{{userLocation.id}}" class="stretched-link"></a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>