<p class="search-title display-6 mt-5 mb-4 text-center">Find an open play court near you</p>
<div class="row g-3 p-0 mb-5 justify-content-center">
  <div class="col-auto">
    <input type="text" class="form-control" id="location" placeholder="Enter a location">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary search-courts">Search</button>
  </div>
</div>

<h3>Search Results</h3>

{{#each locations as |location| }}
<div class="card col shadow-sm my-2">
  <div class="card-body">
    <h5 class="card-title">{{location.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{location.address}}</h6>
    <div class="card-text">
      <p class="mb-0">{{location.distanceFromUser}} miles away</p>
      <p class="mb-0">{{location.description}}</p>
      <p class="mb-0">Number of courts: {{location.num_courts}}</p>
    </div>

    <a href="/{{location.id}}" class="stretched-link"></a>
  </div>
</div>
{{/each}}

<script type="text/javascript" src="/assets/js/index.js"></script>